---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=<open_weather_api_key>&lat=39.738453&lon=-104.984853
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39.7385,"lon":-104.9849,"timezone":"America/Denver","timezone_offset":-25200,"current":{"dt":1642277224,"sunrise":1642256344,"sunset":1642291158,"temp":279.79,"feels_like":278.21,"pressure":1025,"humidity":42,"dew_point":268.41,"uvi":1.97,"clouds":0,"visibility":10000,"wind_speed":2.24,"wind_deg":184,"wind_gust":4.02,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}]},"minutely":[{"dt":1642277280,"precipitation":0},{"dt":1642277340,"precipitation":0},{"dt":1642277400,"precipitation":0},{"dt":1642277460,"precipitation":0},{"dt":1642277520,"precipitation":0},{"dt":1642277580,"precipitation":0},{"dt":1642277640,"precipitation":0},{"dt":1642277700,"precipitation":0},{"dt":1642277760,"precipitation":0},{"dt":1642277820,"precipitation":0},{"dt":1642277880,"precipitation":0},{"dt":1642277940,"precipitation":0},{"dt":1642278000,"precipitation":0},{"dt":1642278060,"precipitation":0},{"dt":1642278120,"precipitati[...]
