---
http_interactions:
- request:
    method: get
    uri: https://openlibrary.org/subjects/denver.json?limit=5
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ol-Stats:
      - '"IB 2 0.012 MC 3 0.001 SR 1 0.000 TT 0 6.913"'
    body:
      encoding: UTF-8
      string: '{"key": "/subjects/denver", "name": "denver", "subject_type": "subject",
        "work_count": 20, "works": [{"key": "/works/OL1439708W", "title": "The revolt
        of modern youth", "edition_count": 3, "cover_id": null, "subject": ["Juvenile
        delinquency", "Sexual ethics", "Denver", "Denver. Juvenile Court of the City
        and County of Denver", "Denver (Colo). Juvenile Court of the City and County
        of Denver", "Denver (Colo)"], "ia_collection": [], "lendinglibrary": false,
        "printdisabled": false, "lending_edition": "", "lending_identifier": "", "authors":
        [{"key": "/authors/OL150590A", "name": "Ben B. Lindsey"}], "first_publish_year":
        null, "ia": null, "public_scan": false, "has_fulltext": false}, {"key": "/works/OL9897019W",
        "title": "Boldfaced Lies", "edition_count": 3, "cover_id": 6480927, "cover_edition_key":
        "OL12340667M", "subject": ["Passing (Identity)", "Colorado", "Ku Klux Klan
        (1915- )", "Denver", "Fiction", "Accessible book", "Protected DAISY"], "ia_collection":
        ["internetarchivebooks", "fav-shiro_nakatomi", "inlibrary", "printdisabled",
        "smithsonianlibraries", "americana"], "lendinglibrary": false, "printdisabled":
        true, "lending_edition": "OL12340667M", "lending_identifier": "boldfacedliesnov00port",
        "authors": [{"key": "/authors/OL3879032A", "name": "Charlene A. Porter"}],
        "first_publish_year": null, "ia": "boldfacedliesnov00port", "public_scan":
        false, "has_fulltext": true, "availability": {"status": "borrow_available",
        "available_to_browse": true, "available_to_borrow": false, "available_to_waitlist":
        false, "is_printdisabled": true, "is_readable": false, "is_lendable": true,
        "identifier": "boldfacedliesnov00port", "isbn": "1934099112", "oclc": null,
        "openlibrary_work": "OL9897019W", "openlibrary_edition": "OL12340667M", "last_loan_date":
        null, "num_waitlist": null, "last_waitlist_date": null, "collection": "inlibrary,printdisabled,internetarchivebooks,americana,fav-shiro_nakatomi,smithsonianlibraries",
        "is_restricted": true, "is_browseable": false, "__src__": "core.models.lending.get_availability"}},
        {"key": "/works/OL2766605W", "title": "The Regis santos", "edition_count":
        3, "cover_id": 1694386, "cover_edition_key": "OL708367M", "subject": ["Catalogs",
        "Folk art", "Santos (Art)", "Art collections", "Regis University (Denver,
        Colo.)", "Ethnic studies", "Exhibition catalogues and specific collections",
        "History Of Art / Art & Design Styles", "Museum, historic sites, gallery &
        art guides", "Hispanic Art[...]
